{% load wagtailcore_tags %}

<div class="alert alert-dismissible text-center cookiealert p-2" role="alert">
    <div class="cookiealert-container m-auto p-0">
        <div class="row justify-content-center justify-content-md-around"> 
            <span class="col-12">Can we use Cookies to monitor</span>        
            <button type="button" class="close pull-right" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-window-close" aria-hidden="true"></i></span>
            </button>
            <span> site usage & remember you?</span>
        </div>

        <div class="row justify-content-center justify-content-md-around"> 
            <span class="col-xs-6 mx-1"><a href="http://cookiesandyou.com/" target="_blank">What are cookies?</a></span>&nbsp;
            <span class="col-xs-6 mx-1"><a href="/privacy-policy/" target="_blank">Read our Privacy Policy</a></span>
        </div>

        <div class="d-flex justify-content-center mt-2">

            <button type="button" class="btn btn-primary btn-sm acceptcookies mx-2" aria-label="Close">
                Agree
            </button>

            <button type="button" class="btn btn-primary btn-sm declinecookies mx-2" aria-label="Close">
                No cookies
            </button> 
        </div>
    </div>
</div>