{% load static %}
{% load wagtailimages_tags %}
{% image self.background width-1200 as photo %}
    <div class="jumbotron shadow jumbotron-fluid mb-0 stream_item {{ self.classes }} {{ stream.block_type }}" style="background-image: url('{{ photo.url }}'); background-size: cover;">
        <div class="container text-center mw-75">
            <h1 class="display-4 heading-font mw-75 {{ self.classesHeading }}">{{ self.heading }}</h1>
            {% if self.text %}<p class="lead {{ self.classesText }}">{{ self.text }}</p>{% endif %}
            {% if self.buttonUrl and self.buttonLabel %}<p class="lead"><a class="btn btn-primary btn-lg" href="{{ self.buttonUrl }}" role="button">{{ self.buttonLabel }}</a></p>{% endif %}
        </div>
    </div>