{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}

{% endblock extra_css %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

    {% for stream in page.my_stream %}
        {% include_block stream %}
    {% endfor %}

      {% for post in blogpages %}
      {% with post=post.specific %}
        <div class="container m-0 p-0 p-md-2">
            <div class="d-flex {% if forloop.counter|divisibleby:2 %} flex-column flex-md-row-reverse {% else %} flex-column flex-md-row {% endif %} mx-md-3"> 
                <div class="w-100 text-center my-3">
                    {% image post.main_image fill-1200x800 original as photo %}
                    <!-- alt use to force aspect ratio : fill-1200x800 -->
                    <img src='{{photo.url}}' class="img-fluid w-100 w-md-75" alt="{{ photo.alt}}">
                    <p>{{ post.caption }}</p>
                </div>
                <div class="d-flex col-12 col-md-6 align-items-center text-center mx-md-3"> 
                    <div class="justify-content-between">
                        <h3 class="p-0">{{ post.title }}</h3>
                        {% if post.body %} <div class="my-md-4"> {{ post.body|richtext }} </div> {% endif %}
                        <a class="btn btn-primary mt-2" href="{{ post.url }}">Open "{{ post.title }}"</a>
                    </div>       
                </div>
            </div>
        </div>
        {% endwith %}
      {% endfor %}

{% endblock content %}