{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
{% endblock %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

    {% for stream in page.my_stream %}
        {% include_block stream %}
    {% endfor %}


    <div class="row col-12">

      {% for post in blogpages %}
      {% with post=post.specific %}
  
      <div class="col-6">
        <div style="margin: 10px">
          {% image post.main_image original as photo %}
          <!-- alt use to force aspect ratio : fill-1200x800 -->
          <img src='{{photo.url}}' class="img-fluid w-100" alt="{{ photo.alt}}">
            <p>{{ post.caption }}</p>
        </div>
      </div>
      <div class="col-6">
        <h3>{{ post.title }}</h3>
        <p class="card-text">{{ post.body|richtext }}</p>
        <span class="w-100 mx-auto text-center center-block"><a class="w-100 btn btn-primary mt-2" href="{{ post.url }}">Open</a></span>          
      </div>
  
      {% endwith %}
      {% endfor %}


    </div>

{% endblock %}